<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">Detalhes do Curso</mat-toolbar>

    <form [formGroup]="form" class = "min-width" novalidate>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name" #name>
        <mat-hint align="end">{{name.value.length}}/100</mat-hint>
        @if (form.get('name')?.invalid) {
          <mat-error>{{formUtils.getErrorMessage(form,'name')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="front-end">Front-End</mat-option>
          <mat-option value="back-end">Back-End</mat-option>
          <mat-option value="full-stack">Full-Stack</mat-option>
        </mat-select>
        @if (form.get('name')?.invalid) {
          <mat-error>{{formUtils.getErrorMessage(form,'category')}}</mat-error>
        }
      </mat-form-field>

      <mat-toolbar>
        <span>Aulas</span>
        <button mat-icon-button color="accent"  (click)="addNewLesson()">
          <mat-icon aria-label="Adiciona uma nova Aula">add</mat-icon>
        </button>
      </mat-toolbar>

      @if (formUtils.isFormArrayRequired(form, 'lessons')) {
        <mat-error class="form-array-error"
          >Adicione ao menos uma Aula!
        </mat-error>
      }

      @for (lesson of getLessonsFormArray(); track lesson; let i = $index) {
        <table
          style="width: 100%"
          formArrayName="lessons"
          >
          <tr [formGroupName]="i">
            <td style="width: 50%">
              <mat-form-field class="full-width">
                <mat-label>Nome da Aula</mat-label>
                <input matInput formControlName="name"  #name/>
                <mat-hint align="end">{{name.value.length}}/100</mat-hint>
                @if (getLessonsFormArray()[i].get('name')?.invalid) {
                  <mat-error
                    >{{formUtils.getFormArrayFieldErrorMessage(form, 'lessons', 'name', i)}}
                  </mat-error>
                }
              </mat-form-field>
            </td>
            <td style="width: 30%">
              <mat-form-field class="full-width">
                <mat-label>URL</mat-label>
                <span matPrefix>https://youtu.be/</span>
                <input matInput formControlName="youtubeURL" #youtubeURL />
                <mat-hint align="end">{{youtubeURL.value.length}}/15</mat-hint>
                @if (getLessonsFormArray()[i].get('youtubeURL')?.invalid) {
                  <mat-error
                    >{{formUtils.getFormArrayFieldErrorMessage(form, 'lessons', 'youtubeURL', i)}}
                  </mat-error>
                }
              </mat-form-field>
            </td>
            <td style="width: 10%">
              <button mat-icon-button color="warn"  (click)="removeLesson(i)">
                <mat-icon aria-label="Remover uma Aula">delete</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      }

    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
